<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset("css/main.css") }}">
    </head>
    <body>
        <div id="header">
            <div class="item" id="link_home"> <a href=" {{ url("home") }}">HOME</a> </div>
            <div class="item" id="link_offers"> <a href=" {{ url("offers") }}">OFFERS</a> </div>
            <div class="item" id="link_contact"> <a href=" {{ url("contact") }}">CONTACT</a> </div>
            <div class="item" id="link_about"> <a href=" {{ url("about") }}">ABOUT</a> </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
